<div class="container mt-5">
  <h1 class="mb-4">Modificar Producto</h1>

  <!-- Tabla de productos -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Producto ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each productos}}
      <tr>
        <td>{{this.producto_id}}</td>
        <td>{{this.name}}</td>
        <td>${{this.precio}}</td>
        <td>
          <img src="{{this.imagen}}" alt="{{this.name}}" style="width: 50px; height: 50px; border-radius: 5%;" />
        </td>
        <td>{{this.descripcion}}</td>
        <td>
          <a href="/modificar_producto/{{this.producto_id}}" class="btn btn-warning">Modificar</a> <!-- Cambiado a enlace -->
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

